@media (max-width: 350px) {
    .page-header {
        height: 30%; 
        text-align: center;
        vertical-align: middle;
    }
    .fix-height .page-content {
        height: 50%;
    }
    .page-footer {
        height: 20%;
        background-color: #fff;
        text-align: center;
    }
    .page-header img {
        width: 60%;
        max-width: 250px;
        margin-top: 3%;
    }
}
@media (min-width: 351px) and (max-width: 600px) {
    .page-header {
        height: 40%; 
        text-align: center;
        vertical-align: middle;
    }
    .fix-height .page-content {
        height: 40%;
    }
    .page-footer {
        height: 20%;
        background-color: #fff;
        text-align: center;
    }
    .page-header img {
        width: 60%;
        max-width: 250px;
        margin-top: 5%;
    }
}
@media (min-width: 601px) and (max-width: 992px) {
    .page-header {
        height: 40%; 
        text-align: center;
        vertical-align: middle;
    }
    .fix-height .page-content {
        height: 40%;
    }
    .page-footer {
        height: 20%;
        background-color: #fff;
        text-align: center;
    }
    .page-header img {
        width: 60%;
        max-width: 250px;
        margin-top: 5%;
    }
}
@media (min-width: 993px) {
    .page-header {
        height: 40%; 
        text-align: center;
        vertical-align: middle;
    }
    .fix-height .page-content {
        height: 40%;
    }
    .page-footer {
        height: 20%;
        background-color: #fff;
        text-align: center;
    }
    .page-header img {
        width: 60%;
        max-width: 250px;
        margin-top: 5%;
    }
}
body {
    background-color: #547CA5;
}
.fix-height {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: #547CA5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#547CA5, #1C405D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#547CA5, #1C405D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#547CA5, #1C405D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#547CA5, #1C405D); /* Standard syntax  */
}
.fix-height .page-content p {
    color: #fff;
    text-align: center;
}
.last-btn {
    background-color: #fff;
    border: 1px solid #204363;
    border-radius: 11px;
    color: #204363;
    font-size: 12px;
    height: 37px;
    margin-top: -19px;
    padding: 0;
    width: 144px;
}
.enter-number {
    display: none;
}
.enter-number-section input {
    background-color: #fff;
    color: #204363;
    width: 170px;
    height: 30px;
    border-radius: 11px;
    margin: 0 auto;
    padding-left: 7px;
}
.verification-code-section input {
    background-color: #fff;
    color: #204363;
    width: 170px;
    height: 30px;
    border-radius: 11px;
    margin: 0 auto;
    padding-left: 7px;
}