@media (max-width: 350px) {
  .page-header {
          height: 30%;
          text-align: center;
          vertical-align: middle;
      }
  .fix-height .page-content {
               height: 50%;
           }
  .page-footer {
               height: 20%;
               background-color: #fff;
               text-align: center;
           }
  .page-header img {
               width: 60%;
               max-width: 250px;
               margin-top: 3%;
           }
           #main {
               width: 100%;
           }
           .chat-contain {
               display: none;
           }
           .side-nav a {
               font-size: 12px !important;
           }
}
@media (min-width: 351px) and (max-width: 600px) {
  .page-header {
              height: 40%;
              text-align: center;
              vertical-align: middle;
          }
  .fix-height .page-content {
               height: 40%;
           }
  .page-footer {
               height: 20%;
               background-color: #fff;
               text-align: center;
           }
  .page-header img {
               width: 60%;
               max-width: 250px;
               margin-top: 5%;
           }
           #main {
               width: 100%;
           }
           .chat-contain {
               display: none;
           }
           .side-nav a {
               font-size: 12px !important;
           }
}
@media (min-width: 601px) and (max-width: 992px) {
  .page-header {
              height: 40%;
              text-align: center;
              vertical-align: middle;
          }
  .fix-height .page-content {
               height: 40%;
           }
  .page-footer {
               height: 20%;
               background-color: #fff;
               text-align: center;
           }
  .page-header img {
               width: 60%;
               max-width: 250px;
               margin-top: 5%;
           }
           #main {
               width: 100%;
           }
           .chat-contain {
               display: block;
           }
}
@media (min-width: 993px) {
  .page-header {
              height: 40%;
              text-align: center;
              vertical-align: middle;
          }
  .fix-height .page-content {
               height: 40%;
           }
  .page-footer {
               height: 20%;
               background-color: #fff;
               text-align: center;
           }
  .page-header img {
               width: 60%;
               max-width: 250px;
               margin-top: 5%;
           }
           #main {
               width: 993px;
               margin: 0 auto;
           }
           .chat-contain {
               display: block;
           }
}
body {
      background-color: #547CA5;
    }
    nav .button-collapse {
        height: 33px;
    }
    footer.page-footer {
        bottom: 0;
        padding: 0 15px;
        position: fixed;
        width: 100%;
    }
    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    #sidenav-overlay {
        z-index: 0 !important;
        opacity: 0 !important;
    }
    .fileinput-button {
        padding: 0;
        width: 20px !important;
        opacity: 0;
    }
    .attach-icon {
        font-size: 20px;
        margin-top: 6px;
        position: absolute;
    }
    .messages-wrapper {
        position: absolute;
        top: 44px;
        width: 100%;
    }
    .action-btn {
        background-color: inherit;
        width: 30px;
        padding: 0;
        box-shadow: inherit;
    }
    .attach-file-div {
        margin-right: 10px;
    }
    .send-btn {
        margin-right: 8px;
    }
    #group-name:focus {
        border-bottom-color: #3F51B5;
    }
    .input-wrapper {
        height: 47px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
    }
    .message-container {
        z-index: 0;
    }
    .action-btn:focus {
        background-color: inherit;
        width: 30px;
        padding: 0;
        box-shadow: inherit;
    }
    .action-btn:hover {
        background-color: inherit;
        width: 30px;
        padding: 0;
        box-shadow: inherit;
    }
    .send-icon {
        color: #3F51B5;
    }
    .insert_emoticon {
        color: #888;
    }
    .attach-icon {
        color:#888;
    }
    #m {
        border-bottom: 1px solid #888 !important;
        padding-bottom: 0;
        margin: 0;
    }
    #m:focus {
        border-bottom: 1px solid #3F51B5 !important;
        padding-bottom: 0;
    }
    main{
        margin-top: 45px;
    }
    .container {
        width: 100%;
    }
    #Room {
        padding:10px 18px 30px 18px;
    }
    #Room li {
        padding:0 0 15px;
        position: relative;
        border-bottom: 1px solid #eee;
    }
    #Room li a {
        bottom: 5px;
        font-size: 11px;
        font-weight: bold;
        left: 0;
        position: absolute;
        color: #3F51B5;
    }
    #new-group-modal {
       height: 160px; 
    }
    .modal-footer a.m-btn {
        padding: 0 1rem;
    }
    .small-next {
        border: 0 none !important;
        box-shadow: inherit;
        float: left;
        height: 30px !important;
        left: 134px;
        margin-right: 57px;
        margin-top: -33px !important;
        position: absolute;
        width: 25px !important;
        background-color: inherit !important;
    }
    .small-next:hover {
        background-color: inherit !important;
        box-shadow: inherit;
    }
    .small-next:focus {
        background-color: inherit !important;
        box-shadow: inherit;
    }
    .group-avatar {
        width: 45px;
        height: 45px;
    }
    .group-contain {
        padding: 0px !important;
    }
    .group-message {
        bottom: 17px;
        color: #666;
        font-size: 11px;
        left: 52px;
        position: absolute;
    }
    .new-unread {
        background-color: #d9dadd;
        color: #3f51b5;
        font-size: 9px;
        min-width: 17px;
        padding: 2px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 27px;
    }
    .done-all {
        color: #3f51b5;
        font-size: 14px;
        position: absolute;
        right: 11px;
        top: 3px;
    }
    .chat-contain {
        padding: 0px !important;
    }
    .container .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .row .col {
        float: none !important;
    }
    .row {
        margin-bottom: 0px;
    }
    footer.page-footer {
        margin-top: 0px;
        height: 40px;
    }
    #main {
        background-color: #fff;
     //   height: 100%;
    }
    .top-nav .container.header-data .back-icon {
        height: 45px !important;
        position: absolute;
        right: 21px;
        top: -6px;
        width: 30px;
    }
    .button-collapse i {
        font-size: 2rem !important;
        height: 52px !important;
    line-height: 31px !important;
    }
    .top-nav {
        height: 52px;
    }
    .img-loading {
        height: 100%;
       overflow: hidden;
       position: absolute;
       width: 100%;
       background-image: url('../img/1.svg');
       background-position: center center;
       background-size: 200px;
       background-repeat: no-repeat;
    }
.fix-height {
       height: 100%;
       overflow: hidden;
       position: absolute;
       width: 100%;
       background: #547CA5; /* For browsers that do not support gradients */
       background: -webkit-linear-gradient(#547CA5, #1C405D); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(#547CA5, #1C405D); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(#547CA5, #1C405D); /* For Firefox 3.6 to 15 */
       background: linear-gradient(#547CA5, #1C405D); /* Standard syntax  */
     }
.fix-height .page-content p {
       color: #fff;
       text-align: center;
     }
.last-btn {
       background-color: #fff;
       border: 1px solid #204363;
       border-radius: 11px;
       color: #204363;
       font-size: 12px;
       height: 37px;
       margin-top: -19px;
       padding: 0;
       width: 144px;
     }
.enter-number {
         display: none;
     }
.enter-number-section input {
        background-color: #fff;
        color: #204363;
        width: 165px;
        height: 30px;
        border-radius: 11px;
        margin: 0 auto;
        padding-left: 7px;
     }
.verification-code-section input {
        background-color: #fff;
        color: #204363;
        width: 170px;
        height: 30px;
        border-radius: 11px;
        margin: 0 auto;
        padding-left: 7px;
     }
@media (max-width: 992px) {


}
  @media (min-width: 992px) {

  }
  .notifications {
      width: 100%;
      height: 20px;
      background-color: #303f9f;
  }
  nav.top-nav {
      background-color: #3f51b5;
  }
  footer.page-footer {
      background-color: #3f51b5;
  }
  footer.footer-copyright {
      background-color: #303f9f;
  }
  .mob-menu {
      line-height: 1.3px !important;
      font-size: 2rem !important;
      margin-top: 17px;
  }
  .header-data {
      height: 49px;
      margin-top: -9px !important;
      padding-top: 14px;
      padding-left: 10px;
  }
  .header-data .nav-wrapper {
      float: left;
      margin-left: 15px;
  }
  .logo-img{
      width: 32px;
      height:32px;
  }


  /**shahrir***/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.messages-wrapper {
    background: url('../img/bg.jpg');
    width: 100%;
    height: 60%;
    overflow: auto;
}
.messages-wrapper .messages-list .messege-row {
    width: 100%;
    float: left;
    overflow: hidden;
}
.messages-wrapper .messages-list .messege-row .message-list {
    padding: 10px;
}
.messages-wrapper .messages-list .messege-row .message-list .message-single {
    overflow: auto;
}
.messages-wrapper .messages-list .messege-row .message-list .message-single .avatar-container {
    display: none;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.messages-wrapper .messages-list .messege-row .message-list .message-single .avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.messages-wrapper .messages-list .messege-row .message-list .message-single .message-container {
    margin: 5px 10px;
    padding: 10px;
    max-width: 60%;
    border-radius: 15px;
    box-shadow: 0px 2px 0 rgba(1, 1, 1, 0.12);
}
.messages-wrapper .messages-list .messege-row .message-list .message-single .message-container .message-text {
    font-size: 13px;
    color: #333;
}
.messages-wrapper .messages-list .messege-row .message-list .message-single.message-first .avatar-container {
    display: block;
}
.messages-wrapper .messages-list .messege-row .message-list .message-single.message-first .message-container {
    margin-top: 10px;
}
.messages-wrapper .messages-list .messege-row .message-list.sent-message {
    float: right;
}
.messages-wrapper .messages-list .messege-row .message-list.sent-message .avatar-container {
    float: right;
}
.messages-wrapper .messages-list .messege-row .message-list.sent-message .message-container {
    float: right;
    background-color: #aae1f7;
    margin-right: 60px;
}
.messages-wrapper .messages-list .messege-row .message-list.sent-message .message-first .message-container {
    margin-right: 10px;
    position: relative;
}
.messages-wrapper .messages-list .messege-row .message-list.sent-message .message-first .message-container:after {
    content: "";
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #aae1f7;
    border-top: 0px solid rgba(0, 0, 0, 0);
    height: 0;
    right: -6px;
    position: absolute;
    top: 13px;
    width: 0;
    z-index: 1;
}
.messages-wrapper .messages-list .messege-row .message-list.received-message {
    float: left;
}
.messages-wrapper .messages-list .messege-row .message-list.received-message .avatar-container {
    float: left;
}
.messages-wrapper .messages-list .messege-row .message-list.received-message .message-container {
    float: left;
    background-color: #FFFFFF;
    margin-left: 60px;
}
.messages-wrapper .messages-list .messege-row .message-list.received-message .message-first .message-container {
    margin-left: 10px;
    position: relative;
}
.messages-wrapper .messages-list .messege-row .message-list.received-message .message-first .message-container:after {
    content: "";
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #FFFFFF;
    border-top: 0px solid rgba(0, 0, 0, 0);
    height: 0;
    left: -6px;
    position: absolute;
    top: 13px;
    width: 0;
    z-index: 1;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
/*body { font: 13px Helvetica, Arial; }*/
#m { border: 0; padding: 10px; width: 60%; height: 20px; margin-right: .5%; }
/*form button { width: 9%; background: #9FAFD1; border: none; padding: 10px; }*/
#colorStyle{ width:20px;  border: hidden; padding: 0px; }
#messages { list-style-type: none; margin: 100px; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
#select{
    margin-top: -26px;
}
#fileupload{
    opacity: 0;
    overflow: hidden;
}
.fileinput-button{
    width: 100px;height: 30px;
}
.image{
    width: 15px;
    height:15px;
}
.avatar{
    height : 65px;
    width : 65px;
    border-radius : 50%;
    margin-bottom : 0.5em;
    margin-left: 0.75em;
}
.avatar-thumb{
    width : 24%;
    display: inline-block;
}
.avatar-selected{
    height : 65px;
    width : 65px;
    border: 3px solid #fff;
    box-shadow: inset 0 0 5px tomato, 0 0 5px black;
}
