<div class="messages-wrapper">
        <ul class="messages-list">
        </ul>
</div>
<div class="input-wrapper">
    <form id="form" action="" enctype="multipart/form-data">
        <input id="m"  autocomplete="off" />
        <input id="colorStyle" type="color" placeHolder='#000' title="font color" />
        <input id="room" type="hidden"  value="<%= room %>"/>
        <input id="emojii" type="hidden"  value=""/>
        <button class="btn btn-success">Send</button>
        <input id="emoji" type="button" value="emoji" title="emoji" class="btn btn-success"/>
        <div id="emojiWrapper">
        </div>
    <span class="btn btn-success fileinput-button"  title="select file">
            <input id="fileupload" type="file" name='fileUploaded'  >
        <div id="select">Select files...</div>
    </span>
    </form>
</div>







