<html>
<head>

    <title>Chat :-D</title>
    <base href="http://192.168.100.23:4000" >
    <link href="css/icon.css" rel="stylesheet">
    <link href="css/materialize.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header class="menu-down">
    <nav class="top-nav">
        <div class="notifications">
            <!-- start first header -->
            <input type="hidden" id="user_online" value="<%= user %>">
            <input type="hidden" id="room_list" value="<%= room %>">

            <!-- end first header -->
        </div>
        <div class="container header-data">
            <!-- start second header -->
            <a class="button-collapse top-nav full hide-on-large-only" data-activates="nav-mobile" href="#">
                <i class="material-icons mob-menu">menu</i>
            </a>
            <i class="material-icons second-menu">reorder</i>
            <div class="nav-wrapper"><a class="page-title"><img src="img/logo.png" class="logo-img"></a></div>
            <!-- end second header -->
        </div>
    </nav>


    <!-- start menuuuuu -->
    <ul class="side-nav fixed" id="nav-mobile" style="transform: translateX(0%);">
        <li class="width-menu">
            <i class="material-icons main-menu">reorder</i>
        </li>
        <!-- <li class="logo"><a class="brand-logo" href="http://materializecss.com/" id="logo-container">
            <object data="res/materialize.svg" type="image/svg+xml" id="front-page-logo">Your browser does not support SVG</object></a></li> -->

        <li class="bold"><a class="waves-effect waves-teal" id="new-group">New Group</a></li>
        <li class="bold"><a class="waves-effect waves-teal" id="chat-list">Chat List</a></li>
        <li class="bold "><a class="waves-effect waves-teal" id="contacts" >Contact</a></li>
        <li class="bold "><a class="waves-effect waves-teal" id="profile">Profile</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="/logout/">Logout</a></li>
    </ul>
    <!-- end menuuuuu -->
</header>

<main class="menu-down"><div class="container">
    <div class="row">
        <div class="s12">
            <!-- start main content -->
            <div class="row">
                <div class="col l3 m3 s3">
                    <ul id="Room">

                    </ul>
                </div>
                <div class="col l9 m9 s9 chat">
                   <div id="chat">
                     <div class="messages-wrapper">
                        <ul class="messages-list">
                        </ul>
                      </div>
                      <div class="input-wrapper">
                        <form id="form" action="" enctype="multipart/form-data">
                            <input id="m"  autocomplete="off" />
                            <input id="colorStyle" type="color" placeHolder='#000' title="font color" />
                            <input id="roomnow" type="text" readonly="readonly"  value="<%= roomnow %>"/>
                            <input id="contact" type="text" readonly="readonly"  />
                            <input id="namecontact" type="text" readonly="readonly"  />
                            <input id="emojii" type="hidden"  value=""/>
                            <button class="btn btn-success">Send</button>
                            <input id="emoji" type="button" value="emoji" title="emoji" class="btn btn-success"/>
                            <div id="emojiWrapper">
                            </div>
                            <span class="btn btn-success fileinput-button"  title="select file">
                              <input id="fileupload" type="file" name='fileUploaded'  >
                              <div id="select">Select files...</div>
                            </span>
                          </form>
                        </div>
                </div>
                    <div class="form-profile" style="margin-top: 100px; width : 400px; margin-left : 50px;">
                        <input type="text" id="name" placeholder="Name" class="form-control"><br>
                        <input type="text" id="lastname" placeholder="LastName" class="form-control"><br>
                        <input type="text" id="telephon" value="<%= user %>"  readonly="readonly"class="form-control"><br>

                        <input type="hidden" id="avatar" placeholder="Avatar" class="form-control"><br>
                        <div id="list_avatar">
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar1.jpg" class="avatar"  id="Avatar1" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar2.jpg"  class="avatar" id="Avatar2" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar3.jpg" class="avatar" id="Avatar3" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar4.jpg" class="avatar" id="Avatar4" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar5.jpg" class="avatar" id="Avatar5" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar6.jpg" class="avatar" id="Avatar6" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar7.jpg" class="avatar" id="Avatar7" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar8.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar9.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar10.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar11.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar12.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar14.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="avatar-thumb">
                                <img src="img/avatars/Avatar15.jpg"  class="avatar" id="Avatar8" />
                            </div>
                            <div class="chat-box"></div>
                        </div>
                        <input type="button" id="login-submit" value="UpDate" class="btn btn-primary">
                    </div>

                </div>
            </div>
            <!-- end main-content -->
        </div>
    </div>
</div>


</main>


<footer class="page-footer menu-down">
    <div class="container">
        <div class="row">
            <!-- start first footer -->


            <!-- end first footer -->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

            <!-- start second foter -->
            &copy; 2014-2016 Materialize, All rights reserved.
            <a href="https://github.com/Dogfalo/materialize/blob/master/LICENSE" class="grey-text text-lighten-4 right">MIT License</a>
            <!-- end second footer -->
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://cdn.rawgit.com/ScottHamper/Cookies/1.2.1/dist/cookies.min.js">
</script>
<script src="js/socket.io-1.2.0.js"></script>

<script src="js/custom.js"></script>
<script src="js/chatroom.js"></script>

<script src="js/chat.js"></script>

</body>
</html>
